# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
*.out

# Miscellaneus
.DS_Store
.go

# IDEs
.idea

# Package Files #
*.jar
*.war
*.ear

# Test binary, built with `go test -c`
*.test

# exclude jar for gradle wrapper
!gradle/wrapper/*.jar

# build files
#**/target
target
.gradle
build

# Other
bin
vendor

# terraform
.terraform*
terraform*

#/bin
#/.go
#/.container-*
#/.dockerfile-*
#/.licenses

