/*
Severalnines ClusterControl

This is a ...

API version: 1.0.0
Contact: sales@severalnines.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package openapi

import (
	"bytes"
	"context"
	"io/ioutil"
	"net/http"
	"net/url"
)


// StatCmonAgentApiService StatCmonAgentApi service
type StatCmonAgentApiService service

type ApiStatCmonagentPostRequest struct {
	ctx context.Context
	ApiService *StatCmonAgentApiService
	statCmonAgent *StatCmonAgent
}

// Provides calls to access various statistical information about the cluster
func (r ApiStatCmonagentPostRequest) StatCmonAgent(statCmonAgent StatCmonAgent) ApiStatCmonagentPostRequest {
	r.statCmonAgent = &statCmonAgent
	return r
}

func (r ApiStatCmonagentPostRequest) Execute() (*http.Response, error) {
	return r.ApiService.StatCmonagentPostExecute(r)
}

/*
StatCmonagentPost GetInfo | etc

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiStatCmonagentPostRequest
*/
func (a *StatCmonAgentApiService) StatCmonagentPost(ctx context.Context) ApiStatCmonagentPostRequest {
	return ApiStatCmonagentPostRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
func (a *StatCmonAgentApiService) StatCmonagentPostExecute(r ApiStatCmonagentPostRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "StatCmonAgentApiService.StatCmonagentPost")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/stat/cmonagent"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.statCmonAgent == nil {
		return nil, reportError("statCmonAgent is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.statCmonAgent
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}
